:root {
  --appBarHeightXs: 268px;
  --appBarHeightXsm: 268px;
  --appBarHeightSm: 192px;
  --appBarHeightMd: 128px;
  --appBarHeightLg: 64px;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bars {
  height: calc(100vh - var(--appBarHeightXs));
}

.toolbar {
  min-height: var(--appBarHeightXs);
}

@media screen and (min-width: 480px) {
  .bars {
    height: calc(100vh - var(--appBarHeightXsm));
  }

  .toolbar {
    min-height: var(--appBarHeightXsm);
  }
}

@media screen and (min-width: 600px) {
  .bars {
    height: calc(100vh - var(--appBarHeightSm));
  }

  .toolbar {
    min-height: var(--appBarHeightSm);
  }
}

@media screen and (min-width: 900px) {
  .bars {
    height: calc(100vh - var(--appBarHeightMd));
  }

  .toolbar {
    min-height: var(--appBarHeightMd);
  }
}

@media screen and (min-width: 1200px) {
  .bars {
    height: calc(100vh - var(--appBarHeightLg));
  }

  .toolbar {
    min-height: var(--appBarHeightLg);
  }
}
